/* CSS Variables */

:root {
    --grey: #777;
    --red: red;
    --maroon: maroon;
}

/*  Core */

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    font-family: 'Poiret One', cursive;
    color: var(--dark);
}

body {
    background-color: white;
    line-height: 1.4;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-size: 1rem
}

img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

section {
    padding: 0 1rem;
}

section>div {
    padding: 3rem 0;
}

/* General Classes */

header {
    height: 3rem;
    background-color: var(--maroon);
    color: white;
    text-align: center;
}

.login-section {
    height: 3rem;
    background-color: var(--red);
    text-align: center;
    padding-top: .6rem;
}

.message-section {
    height: 3rem;
    padding-top: .6rem;
    text-align: center;
}

.games-list-section {
    padding: 0;
    height: 15vh;
    border: red solid 1px;
    margin: 1rem;
}

.games-list-wrapper {
    padding: 0;
}

.create {
    text-align: center;
    border-bottom: 1px solid red;
    padding-bottom: 3px;
}

.games-list {
    text-align: center;
}

.player-1-section, .player-2-section{
    height: 30vh;
    border: 1px solid black;
    margin: 1rem 0;
    padding: 1rem 0;
    text-align: center;
}

.chat-section {
    height: 500px;
}

.chat-log {
    height: 20vh;
    padding: 5px;
    border: 1px solid black;
    margin: 1rem 0;
    overflow: auto;
}

.chat-area {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(max-content, max-content);
    grid-gap: 10px;
    padding: 10px 10px;
    height: 3rem;
    border: 1px solid black;
    text-align: center;
}

.chat-box input{
    width: 100%;
}

footer {
    height: 5rem;
    background-color: var(--maroon);
    color: white;
    text-align: center;
}

/* Modal Section */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0px;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: white;
    margin: 20vh auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    color: black;
    border-radius: 10px;
}

.fields {
    padding: 1rem;
}

.fields input {
    width: 100%;

}

.close-container {
    background-color: var(--maroon);
    text-align: center;
    padding: 16px;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 0 0 10px 10px;
}

.modal-button {
    color: white;
    padding: 14px 40px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

.modal-button:hover {
    opacity: 0.8;
}

.accept {
    background-color: var(--red);
}

.cancel {
    background-color: var(--grey);
}

/* Animation for the modal */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


@media (min-width: 600px) {
}


